extends layouts/main.pug


block extraCSS
  link(href='/publics/css/ensayos.css', rel='stylesheet')

block content
  br

  div(class="container-fluid")
    div(class="row")
      div(class="col-lg-4 col-lg-offset-2 text-center")
        img(class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140")
        h2 Resistencia al fuego
        p IRAM 11955
        p
          a(class="btn btn-default" href="#" role="button") View details &raquo;

      div(class="col-lg-4  text-center")
        img(class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140")
        h2 Heading
        p asdasdasdasdasDescription
        p
          a(class="btn btn-default" href="#" role="button") View details &raquo;